services:
  db:
    image: mariadb:10.9
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: moodle
      MYSQL_USER: moodleuser
      MYSQL_PASSWORD: moodlepass

  web:
    image: lsuonline/moodle-dev:latest
    depends_on:
      - db
    ports:
      - "80"
    environment:
      DB_HOST: db
      DB_NAME: moodle
      DB_USER: moodleuser
      DB_PASSWORD: moodlepass
    restart: always

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    depends_on:
      - db
    ports:
      - "80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: rootpassword
    restart: always